<div class="services-offered-wraper">
  <div class="container">
    <h1 class="section-head mb-5 " id="features">Kubernetes Services Offered</h1>
    <div class="row pb-4">
      <div class="col-sm-6">
        <div class="media">
          <div class="media-img">
            <img
              src="images/home/architectural-consulting.png"
              alt="architectural consulting"
            />
          </div>
          <div class="media-body cm-center-top">
            <h5 class="mt-0">Architectural Consulting</h5>
            <p>
              Start with the groundwork needed for success with architectural
              consulting work for your new existing Kubernetes platform and its
              hosted apps.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <div class="media-img">
            <img
              src="images/home/implementation-and-onboarding.png"
              alt="implementation-and-onboarding"
            />
          </div>
          <div class="media-body cm-center-top">
            <h5 class="mt-0">Implementation and Onboarding</h5>
            <p>
              Speed time to market for production Kubernetes cluster with our
              implementation services. Get the best help you need to design and
              implement pure open source kubernetes in any environment.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-sm-6">
        <div class="media">
          <div class="media-img">
            <img
              src="images/home/custom-development.png"
              alt="custom development"
            />
          </div>
          <div class="media-body cm-center-top">
            <h5 class="mt-0">Custom Development</h5>
            <p>
              Fill the gaps that will exist between a standard open source
              Kubernetes cluster and one designed for you with custom
              development from seasoned system software engineers. Kubeify's
              engineers can help you get the distributed environment you need.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <div class="media-img">
            <img src="images/home/integrations.png" alt="integrations" />
          </div>
          <div class="media-body cm-center-top">
            <h5 class="mt-0">Integrations</h5>
            <p>
              Authentication, auditing, data services, and all your new and
              existing tools need to be integrated into the Kubernetes cluster.
              Kubeify has helped its Fortune 500 customers make the cloud native
              transformation for all their legacy systems.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <div class="media-img">
            <img src="images/partners/kubernetes.png" alt="Kubernetes" />
          </div>
          <div class="media-body cm-center-top">
            <h5 class="mt-0">Kubernetes Support on any Infrastructure</h5>
            <p>
              Get enterprise Kubernetes support for multi cloud environments:
            </p>
            <ul class="service__offers__ul" style="font-size: 14px;">
              <li>Public Cloud - AWS, GCE/GKE, Azure, and more</li>
              <li>
                Data Center - Install Kubernetes with kismatic Enterprise
                Toolkit
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <div class="media-img">
            <img
              src="images/home/code-configuration.svg"
              alt="code configuration"
            />
          </div>
          <div class="media-body cm-center-top">
            <h5 class="mt-0">Kubernetes Infrastructure as Code</h5>
            <p>
              Determine your organization's technological maturity and gain
              actionable next steps:
            </p>
            <ul class="service__offers__ul" style="font-size: 14px;">
              <li>Infrastructure apps and operational procedure review</li>
              <li>Kubernetes readiness</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="learn-more-block">
      <h4 class="mb-4">Learn more about our complete set of Kubernetes offerings...</h4>
      <a href="/services" class="btn btn-rounded cta-button"
        >Kubeify Services</a
      >
    </div>
  </div>
</div>
