<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center text-md-start mb-3 mb-md-0">
        <p class="mb-0 text-secondary">
          &copy; 2025
          <a
            href="https://scandiccloud.com/"
            target="_blank"
            class="text-secondary text-decoration-none"
          >
            Scandic Cloud Solutions
          </a>
          AS. All Rights Reserved.
          <span class="d-block d-md-inline">
            <a
              href="privacy-policy.html"
              class="text-secondary text-decoration-none"
              >Privacy Policy</a
            >
            |
            <a
              href="terms-of-use.html"
              class="text-secondary text-decoration-none"
              >Terms of Use</a
            >
          </span>
        </p>
      </div>
      <div class="col-md-4 text-center text-md-end">
        <a href="#" class="me-3 fs-4"><i class="bi bi-linkedin"></i></a>
        <a href="#" class="me-3 fs-4"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="fs-4"><i class="bi bi-facebook"></i></a>
      </div>
    </div>
  </div>
</footer>
