<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary" href="#">CutDigitalWaste.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#what-is-waste">The Problem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#framework">Our Solution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item ms-lg-3">
                    <button class="btn btn-gradient-rounded px-4 py-2" data-bs-toggle="modal" data-bs-target="#auditModal">Book Free Audit</button>
                </li>
            </ul>
        </div>
    </div>
</nav>