<style type="text/css">
  .feedbackbox {
    position: fixed;
    top: 90vh;
    left: 1%;
    bottom: 0%;
    width: 420px;
    text-align: left;
    z-index: 9999;
    margin-top: -60px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
  }
</style>

<div
  class="feedbackbox alert alert-warning alert-dismissible fade show"
  role="alert"
>
  <strong>Don't Miss Out!</strong>
  <a href="/join-webinars"
    >Managing kubernetes Manifests using Jsonnet & Tanaka</a
  >
  | 1st Aug, 2020, 9:30 PM – 10:30 PM, IST &nbsp;
  <b><a href="/join-webinars">Join us !</a></b>
</div>
