<section class="dark-bg">
  <div class="container py-5 latest-blogs">
    <h1 class="mb-4 grd-text text-center">Latest Blogs</h1>
    <div class="row">
      {% assign classes = "slide-left,slide-up,slide-right" | split: "," %} {%
      for post in site.posts limit:3 %}
      <div class="col-md-4">
        <a href="{{ post.url }}" class="text-decoration-none text-dark">
          <div
            class="card h-100 shadow-sm border-0 blog-card hover-animate-card"
          >
            <img
              src="{{ post.image }}"
              class="card-img-top"
              alt="{{ post.title }}"
              style="object-fit: cover"
            />
            <div class="card-body d-flex flex-column">
              <span class="badge bg-secondary mb-1 w-auto align-self-start"
                >{{ post.category }}</span
              >
              <h5 class="card-title mt-2">{{ post.title }}</h5>
              <p class="card-text">
                {{ post.excerpt | strip_html | truncate: 100 }}
              </p>
              {% assign hash = post.url | size %} {% assign time = hash |
              modulo: 6 | plus: 4 %}
              <div
                class="mt-auto d-flex align-items-center gap-3 small"
                style="color: #b0b3b8"
              >
                <span>
                  <i class="fa-solid fa-calendar text-custom-blue me-1"></i>

                  {{ post.date | date: "%b %d, %Y" }}
                </span>
                <span>
                  <i class="fa-brands fa-readme text-custom-blue me-1"></i>
                  {{ time }} mins
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <div class="text-center">
      <a href="/blog" class="btn schedule-btn mt-4">Read More</a>
    </div>
  </div>
</section>
