<section class="dark-bg">
  <div class="container py-5">
    <div class="text-center mb-5">
      <h2 class="fw-bold">
        Latest <span class="highlight">Insights & Strategies</span>
      </h2>
      <p class="lead">
        Stay ahead with our expert advice on digital efficiency.
      </p>
    </div>
    <div class="row">
      {% assign classes = "slide-left,slide-up,slide-right" | split: "," %} {%
      for post in site.posts limit:3 %}
      <div class="col-md-4">
        <a href="{{ post.url }}" class="text-decoration-none text-dark">
          <div
            class="card card-blog h-100 shadow-sm border-0 blog-card hover-animate-card"
          >
            <img
              src="{{ post.image }}"
              class="card-img-top"
              alt="{{ post.title }}"
              style="object-fit: cover"
            />
            <div class="card-body">
              <span class="badge mb-2">{{ post.category }}</span>
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">
                {{ post.excerpt | strip_html | truncate: 100 }}
              </p>
            </div>
            <div class="card-footer bg-transparent border-0 pb-3">
              <a href="#" class="fw-semibold text-decoration-none"
                >Read More <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <div class="text-center">
      <a href="/blog" class="btn schedule-btn mt-4">Read More</a>
    </div>
  </div>
</section>
