<div class="bg-white who-is-using pt-5 pb-5 partners-kube ">

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="text-center">
          <h2 class="text-primary">Cloud Partners</h2>
          <p>
            Kubeify has partnerd with best in class container native tools and cloud platforms, It helps us to suggest and provide best services while working on our customer's devops process.
          </p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="customer-logos pt-5 pb-5">
    <div class="container">
      <div class="row center">

        <div class="col-sm-4 col-xs-4">
          <div class="customer-logo-item">
            <img src="/images/partners/aws-partner.png" alt="aws-partner" class="img-responsive">
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <div class="customer-logo-item">
            <img src="/images/partners/microsoft-azure-partner.png" alt="microsoft-azure-partner" class="img-responsive">
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <div class="customer-logo-item">
            <img src="/images/partners/google-cloud-partner.png" alt="google-cloud-partner" class="img-responsive">
          </div>
        </div>


        <div class="col-sm-4">
          <div class="customer-logo-item">
            <img src="/images/partners/docker-certified.png" alt="docker-certified" class="img-responsive">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="customer-logo-item">
            <img src="/images/partners/razorops-cicd.png" alt="razorops" class="img-responsive">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="customer-logo-item">
            <img src="/images/partners/alibaba-cloud-partner.png" alt="alibaba-cloud-partner" class="img-responsive">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>