<div class="packages-wraper">
  <div class="container">
    <h2 class="section-head text-primary">Packages Offered</h2>
    <div class="row packages-row">
      <div class="col-md-4 mr-md-n2">
        <div class="package-item">
          <div class="package-item-head">
            <div>
              <h6 class="mb-2">Beginner</h6>
              <h4 class="m-0">$ 8000 / month</h4>
            </div>
          </div>
          <div class="package-item-body text-center">
            <ul class="list-unstyled package-offers-list">
              <li>Business hours support*</li>
              <li>Kubernetes Platform Support and Updates</li>
              <li>Up To 3 Kubernetes Clusters</li>
              <li>Up To 10 Pod Definitions</li>
              <li>3 Environments</li>
              <li>Internal ELK for Cluster Logging</li>
              <li>CircleCI Managed CI/CD</li>
              <li>VPN</li>
            </ul>
            <a href="#" class="btn btn-secondary btn-call-action">CONTACT US</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="package-item package-item-primary mt-md-n4">
          <div class="package-item-head">
            <div>
              <h6 class="mb-2">Intermediate</h6>
              <h4 class="m-0">$ 8000 / month</h4>
            </div>
          </div>
          <div class="package-item-body text-center">
            <ul class="list-unstyled package-offers-list">
              <li>Business hours support*</li>
              <li>24/7/365 Pager Support**</li>
              <li>Kubernetes Platform Support and Updates</li>
              <li>Up To 6 Kubernetes Clusters</li>
              <li>Up To 20 Pod Definitions</li>
              <li>5 Environments</li>
              <li>Internal ELK for Cluster Logging</li>
              <li>Custom Managed CI/CD</li>
              <li>VPN</li>
              <li>Available Disaster Recovery</li>
            </ul>
            <a href="#" class="btn btn-white btn-call-action">CONTACT US</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 ml-md-n2">
        <div class="package-item">
          <div class="package-item-head">
            <div>
              <h6 class="mb-2">Enterprise</h6>
              <p class="m-0">Starting at</p>
              <h4 class="m-0">$ 12000 / month</h4>
            </div>
          </div>
          <div class="package-item-body text-center">
            <ul class="list-unstyled package-offers-list">
              <li>Business hours support*</li>
              <li>24/7/365 Pager Support**</li>
              <li>Kubernetes Platform Support and Updates</li>
              <li>Up To 10 Kubernetes Clusters</li>
              <li>Up To 40 Pod Definitions</li>
              <li>> 5 Environments</li>
              <li>Internal ELK for Cluster Logging</li>
              <li>CircleCI Managed CI/CD</li>
              <li>VPN</li>
              <li>Available Disaster Recovery</li>
            </ul>
            <a href="#" class="btn btn-secondary btn-call-action">CONTACT US</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>