$theme-colors: map-merge(
  $theme-colors,
  (
  "primary": #3c58cd,
  "secondary": #27c1a5,
  "white": #ffffff,
  "text-light": #454545 
  )
);
$font-family-primary: "Roboto";
$font-family-secondary: "Open Sans";
$font-family-base: "Open Sans";